#sampletext {
    font-family: randomfontname;
    display: none;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
    font-family: monts;
    src: url(systemfonts/Montserrat-Medium.ttf);
}

#startgamebutton {
    font-family: monts;
}